@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 2px solid #fdf324;
  border-right: 2px solid #d37013;
  border-radius: 80%;
}
.navbar h1 {
  color: #f1356d;
  margin-right: 20%;
  padding-left: 10%;
}
.navbar .links {
  margin-left: auto;
  float: right;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
  font-size: 120%;
}
.content {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px , 0;
  border-bottom: 2px, solid #ce0505;
  
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(233, 48, 48, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

.blog-details h2{
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.blog-details p{
  color: #ac2542;
  font-style: italic;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.blog-details div{
  margin: 20px auto;
}

.blog-details button{
  color: #f1356d;
  background-color: #ddd;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 90%;
}

/* create new blog form */

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label{
  text-align: left;
  display: block;
}

.create h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button{
  background: #e72d5f;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer; 
}

/* 404 page */
.notfound p{
  margin-bottom: 15px;
}

.notfound h2{
  color: green;
  font-size: 10em;
  margin-bottom: 15px;
}

.notfound a{
  text-decoration: none;
  color: #3e2272;
}

.notfound a:hover{
  font-size: 150% ;
}